# build output
dist/

# dependencies
node_modules/

# env files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# astro generated
.astro/

# internal files
CLAUDE.md
project_specs.md
node_modules
